@import url(normalize.min.css);
@import url(http://fonts.googleapis.com/css?family=Amatic+SC);
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(boxsizing.htc); }

html,
button,
input,
select,
textarea {
  color: white; }

body {
  background: black;
  position: relative;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

a {
  text-decoration: none; }
  .no-touch a:hover, .no-touch a:active {
    text-decoration: none; }

strong, b {
  font-weight: normal; }

ul {
  padding: 0;
  margin: 0; }

::-moz-selection {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border: none;
  outline: none;
  text-shadow: none; }

::selection {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border: none;
  outline: none;
  text-shadow: none; }

*:focus {
  background: none;
  border: none;
  outline: none;
  text-shadow: none; }

ul {
  list-style: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

sup,
sub {
  text-transform: none; }

.chromeframe {
  margin: 0.2em 0;
  background: #cccccc;
  color: black;
  padding: 0.2em 0; }

body {
  font-family: "Amatic SC", cursive; }

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.text-indent {
  text-indent: -9999px;
  display: block;
  overflow: hidden; }

.clearfix:before, form:before,
.clearfix:after,
form:after {
  content: " ";
  display: table; }

.clearfix:after, form:after {
  clear: both; }

.clearfix, form {
  *zoom: 1; }

body {
  background: #efefef;
  color: #232323; }

.wrapper {
  overflow: hidden; }

section {
  position: relative;
  padding: 120px;
  background: #f0f0f0 url(../img/bg.png) repeat;
  min-height: 960px; }
  section.dark {
    background-color: #363636;
    color: white; }
  section.enjoy {
    min-height: 0; }

.intro {
  min-height: 960px;
  min-height: 120vh; }

.container {
  max-width: 960px;
  margin: 0 auto;
  position: relative; }

h2 {
  font-size: 2em;
  position: absolute;
  top: 50px;
  right: 50px; }

h1 {
  padding: 50px;
  background: white;
  color: #363636;
  font-size: 4em;
  text-align: center;
  margin: 0; }

img {
  max-width: 100%; }

code {
  background: white;
  color: #0e0e0e;
  padding: 1em;
  border: 2px solid #125eff;
  white-space: pre;
  display: block;
  overflow: auto;
  -webkit-box-shadow: inset 0 0px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0px 5px 0 rgba(0, 0, 0, 0.5); }
  code span {
    color: #bbbbbb; }

.blue {
  color: #125eff; }

.turquoise {
  color: #00ffe0; }

.violet {
  color: #9d267c; }

.message {
  padding: 50px;
  margin-bottom: 50px;
  font-size: 3em;
  background: white;
  border: 1px solid #929292;
  text-align: center;
  position: relative;
  z-index: 1; }
  .dark .message {
    background: #363636; }
  .message em {
    color: #125eff;
    font-style: normal; }
    .message em.violet {
      color: #9d267c; }
  .message.translate {
    -webkit-transition: -webkit-transform 2400ms cubic-bezier(0.4, 0, 0.16, 1);
    -moz-transition: -moz-transform 2400ms cubic-bezier(0.4, 0, 0.16, 1);
    -ms-transition: -ms-transform 2400ms cubic-bezier(0.4, 0, 0.16, 1);
    -o-transition: -o-transform 2400ms cubic-bezier(0.4, 0, 0.16, 1);
    transition: transform 2400ms cubic-bezier(0.4, 0, 0.16, 1);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
    .message.translate.left {
      -webkit-transform: translate3d(-800px, 0, 0);
      -moz-transform: translate3d(-800px, 0, 0);
      -ms-transform: translate3d(-800px, 0, 0);
      -o-transform: translate3d(-800px, 0, 0);
      transform: translate3d(-800px, 0, 0); }
  .message.color {
    -webkit-transition: border 300ms cubic-bezier(0.4, 0, 0.16, 1), color 300ms cubic-bezier(0.4, 0, 0.16, 1);
    -moz-transition: border 300ms cubic-bezier(0.4, 0, 0.16, 1), color 300ms cubic-bezier(0.4, 0, 0.16, 1);
    -ms-transition: border 300ms cubic-bezier(0.4, 0, 0.16, 1), color 300ms cubic-bezier(0.4, 0, 0.16, 1);
    -o-transition: border 300ms cubic-bezier(0.4, 0, 0.16, 1), color 300ms cubic-bezier(0.4, 0, 0.16, 1);
    transition: border 300ms cubic-bezier(0.4, 0, 0.16, 1), color 300ms cubic-bezier(0.4, 0, 0.16, 1); }
    .message.color em {
      -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.16, 1);
      -moz-transition: color 300ms cubic-bezier(0.4, 0, 0.16, 1);
      -ms-transition: color 300ms cubic-bezier(0.4, 0, 0.16, 1);
      -o-transition: color 300ms cubic-bezier(0.4, 0, 0.16, 1);
      transition: color 300ms cubic-bezier(0.4, 0, 0.16, 1); }
    .message.color.turquoise {
      border: 4px solid #00ffe0;
      color: #00ffe0; }
      .message.color.turquoise em {
        color: #00ffe0; }
  .message.sticky {
    height: 600px;
    position: relative; }
    .message.sticky nav {
      position: relative;
      background: white;
      color: #125eff;
      padding: 25px;
      width: 100%;
      max-width: 860px;
      margin: 0 auto; }
      .message.sticky nav.sticked {
        position: fixed;
        top: 50px;
        color: #00ffe0; }
      .message.sticky nav.contained {
        position: absolute;
        bottom: 50px;
        top: auto;
        color: #125eff; }
  .message.inverted nav {
    position: relative;
    background: white;
    color: #125eff;
    padding: 25px;
    width: 100%;
    max-width: 860px;
    margin: 0 auto; }
    .message.inverted nav.fixed {
      position: fixed;
      top: 0; }
      .message.inverted nav.fixed.bottom {
        top: auto;
        bottom: 0; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  background: #125eff; }
  .overlay.delta {
    width: 0px;
    -webkit-transition: width 300ms ease-out;
    -moz-transition: width 300ms ease-out;
    -ms-transition: width 300ms ease-out;
    -o-transition: width 300ms ease-out;
    transition: width 300ms ease-out; }

.demo-5 {
  height: 3500px; }
  .demo-5 .dino {
    position: fixed;
    width: 250px;
    height: 150px;
    top: 55%;
    left: -50%;
    background: url(../img/dino-cycle.png) no-repeat left 0; }

button {
  display: inline-block;
  margin: 0 -125px;
  width: 200px;
  text-align: center;
  font-size: 24px;
  text-decoration: none;
  color: #232323;
  width: 250px;
  position: absolute;
  top: 50px;
  left: 50%;
  padding: 3px;
  text-transform: uppercase;
  position: relative;
  border: none;
  background: #363636;
  -webkit-perspective: 300px;
  -moz-perspective: 300px;
  -ms-perspective: 300px;
  -o-perspective: 300px;
  perspective: 300px; }
  button:hover {
    color: #d5d5d5; }
  button:focus {
    border: none;
    background: #363636; }
  button.sticked {
    position: fixed; }
  button.contained {
    position: absolute;
    top: auto;
    bottom: 50px; }
  button span {
    display: block;
    padding: 20px;
    line-height: 40px;
    background: #00ffe0;
    -webkit-transition: -webkit-transform 160ms ease-in-out, z-index 0ms linear 80ms;
    -moz-transition: -moz-transform 160ms ease-in-out, z-index 0ms linear 80ms;
    -ms-transition: -ms-transform 160ms ease-in-out, z-index 0ms linear 80ms;
    -o-transition: -o-transform 160ms ease-in-out, z-index 0ms linear 80ms;
    transition: transform 160ms ease-in-out, z-index 0ms linear 80ms;
    -webkit-transform-origin: 50% 50% -40px;
    -moz-transform-origin: 50% 50% -40px;
    -ms-transform-origin: 50% 50% -40px;
    -o-transform-origin: 50% 50% -40px;
    transform-origin: 50% 50% -40px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden; }
    button span:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-transition: background 120ms linear;
      -moz-transition: background 120ms linear;
      -ms-transition: background 120ms linear;
      -o-transition: background 120ms linear;
      transition: background 120ms linear; }
    button span.idle {
      position: relative;
      z-index: 1;
      background: #125eff;
      color: white;
      -webkit-transform: rotateX(0deg);
      -moz-transform: rotateX(0deg);
      -ms-transform: rotateX(0deg);
      -o-transform: rotateX(0deg);
      transform: rotateX(0deg); }
      button span.idle:after {
        background: rgba(255, 255, 255, 0); }
    button span.hover {
      position: absolute;
      z-index: 0;
      top: 3px;
      bottom: 3px;
      left: 3px;
      right: 3px;
      -webkit-transform: rotateX(-90deg);
      -moz-transform: rotateX(-90deg);
      -ms-transform: rotateX(-90deg);
      -o-transform: rotateX(-90deg);
      transform: rotateX(-90deg); }
      button span.hover:after {
        background: rgba(0, 0, 0, 0.8); }
  button.active span.idle {
    z-index: 0;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg); }
    button.active span.idle:after {
      background: rgba(255, 255, 255, 0.8); }
  button.active span.hover {
    z-index: 1;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg); }
    button.active span.hover:after {
      background: transparent; }

.demo-parallax {
  background: white; }
  .demo-parallax .circles {
    display: block;
    font-size: 50px;
    margin-top: 50px;
    position: relative;
    z-index: 0; }
    .demo-parallax .circles .container {
      height: 3000px;
      background: rgba(240, 240, 240, 0.75);
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
  .demo-parallax .circle {
    position: absolute;
    font-size: 50px;
    width: 1em;
    height: 1em;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
    .demo-parallax .circle.violet {
      background: #9d267c; }
    .demo-parallax .circle.blue {
      background: #125eff; }
    .demo-parallax .circle.turquoise {
      background: #00ffe0; }
    .demo-parallax .circle[z="-5"] {
      width: 0em;
      height: 0em;
      margin: -0em;
      z-index: -5;
      -webkit-box-shadow: 0 0em 0em rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 0em 0em rgba(0, 0, 0, 0.2);
      box-shadow: 0 0em 0em rgba(0, 0, 0, 0.2); }
    .demo-parallax .circle[z="-4"] {
      width: 0.5em;
      height: 0.5em;
      margin: -0.5em;
      z-index: -4;
      -webkit-box-shadow: 0 0.01em 0.0125em rgba(0, 0, 0, 0.1995);
      -moz-box-shadow: 0 0.01em 0.0125em rgba(0, 0, 0, 0.1995);
      box-shadow: 0 0.01em 0.0125em rgba(0, 0, 0, 0.1995); }
    .demo-parallax .circle[z="-3"] {
      width: 1em;
      height: 1em;
      margin: -1em;
      z-index: -3;
      -webkit-box-shadow: 0 0.04em 0.05em rgba(0, 0, 0, 0.198);
      -moz-box-shadow: 0 0.04em 0.05em rgba(0, 0, 0, 0.198);
      box-shadow: 0 0.04em 0.05em rgba(0, 0, 0, 0.198); }
    .demo-parallax .circle[z="-2"] {
      width: 1.5em;
      height: 1.5em;
      margin: -1.5em;
      z-index: -2;
      -webkit-box-shadow: 0 0.09em 0.1125em rgba(0, 0, 0, 0.1955);
      -moz-box-shadow: 0 0.09em 0.1125em rgba(0, 0, 0, 0.1955);
      box-shadow: 0 0.09em 0.1125em rgba(0, 0, 0, 0.1955); }
    .demo-parallax .circle[z="-1"] {
      width: 2em;
      height: 2em;
      margin: -2em;
      z-index: -1;
      -webkit-box-shadow: 0 0.16em 0.2em rgba(0, 0, 0, 0.192);
      -moz-box-shadow: 0 0.16em 0.2em rgba(0, 0, 0, 0.192);
      box-shadow: 0 0.16em 0.2em rgba(0, 0, 0, 0.192); }
    .demo-parallax .circle[z="0"] {
      width: 2.5em;
      height: 2.5em;
      margin: -2.5em;
      z-index: 0;
      -webkit-box-shadow: 0 0.25em 0.3125em rgba(0, 0, 0, 0.1875);
      -moz-box-shadow: 0 0.25em 0.3125em rgba(0, 0, 0, 0.1875);
      box-shadow: 0 0.25em 0.3125em rgba(0, 0, 0, 0.1875);
      z-index: 1; }
    .demo-parallax .circle[z="1"] {
      width: 3em;
      height: 3em;
      margin: -3em;
      z-index: 1;
      -webkit-box-shadow: 0 0.36em 0.45em rgba(0, 0, 0, 0.182);
      -moz-box-shadow: 0 0.36em 0.45em rgba(0, 0, 0, 0.182);
      box-shadow: 0 0.36em 0.45em rgba(0, 0, 0, 0.182); }
    .demo-parallax .circle[z="2"] {
      width: 3.5em;
      height: 3.5em;
      margin: -3.5em;
      z-index: 2;
      -webkit-box-shadow: 0 0.49em 0.6125em rgba(0, 0, 0, 0.1755);
      -moz-box-shadow: 0 0.49em 0.6125em rgba(0, 0, 0, 0.1755);
      box-shadow: 0 0.49em 0.6125em rgba(0, 0, 0, 0.1755); }
    .demo-parallax .circle[z="3"] {
      width: 4em;
      height: 4em;
      margin: -4em;
      z-index: 3;
      -webkit-box-shadow: 0 0.64em 0.8em rgba(0, 0, 0, 0.168);
      -moz-box-shadow: 0 0.64em 0.8em rgba(0, 0, 0, 0.168);
      box-shadow: 0 0.64em 0.8em rgba(0, 0, 0, 0.168); }
    .demo-parallax .circle[z="4"] {
      width: 4.5em;
      height: 4.5em;
      margin: -4.5em;
      z-index: 4;
      -webkit-box-shadow: 0 0.81em 1.0125em rgba(0, 0, 0, 0.1595);
      -moz-box-shadow: 0 0.81em 1.0125em rgba(0, 0, 0, 0.1595);
      box-shadow: 0 0.81em 1.0125em rgba(0, 0, 0, 0.1595); }
    .demo-parallax .circle[z="5"] {
      width: 5em;
      height: 5em;
      margin: -5em;
      z-index: 5;
      -webkit-box-shadow: 0 1em 1.25em rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 1em 1.25em rgba(0, 0, 0, 0.15);
      box-shadow: 0 1em 1.25em rgba(0, 0, 0, 0.15); }

input[type="submit"],
input[type="text"],
input[type="password"],
input[type="file"],
select,
textarea {
  border: none;
  outline: none;
  outline-color: transparent;
  height: auto;
  -webkit-appearance: none;
  background-color: transparent;
  -webkit-font-smoothing: inherit !important; }

@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
